<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">

  <mat-card class="search-card">
    <form [formGroup]="searchForm">
      <div class="search-form-grid">

        <mat-form-field appearance="outline" class="dropdown-field">
          <mat-label>Assigned User</mat-label>
          <mat-select formControlName="id">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let role of dataGetAllUser" [value]="role.id">
              {{ role.username }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="dropdown-field">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status">
            <mat-option value="">All</mat-option>
            <mat-option *ngFor="let s of dataStatus" [value]="s.value">
              {{ s.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="dropdown-field">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startdate" formControlName="startDate" placeholder="dd/MM/yyyy">
          <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
          <mat-datepicker #startdate></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="dropdown-field">
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="enddate" formControlName="endDate" placeholder="dd/MM/yyyy">
          <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
          <mat-datepicker #enddate></mat-datepicker>
        </mat-form-field>

        <div class="search-buttons">
          <button mat-raised-button color="primary" type="submit" (click)="onSearch()">🔍 Search</button>
          <button mat-raised-button color="warn" type="button" (click)="onClear()">🧹 Clear</button>
        </div>


      </div>
    </form>
  </mat-card>


  <div style="display: flex; justify-content: space-around; flex-wrap: wrap;">

    <!-- Pie Chart -->
    <div style="width: 400px; margin: 20px;">
      <h3 style="text-align: center;">KPI Overview</h3>
      <canvas baseChart [data]="pieChartData" [options]="{ responsive: true, plugins: { legend: { position: 'top' } } }"
        [type]="'pie'">
      </canvas>
    </div>

    <!-- Bar Chart -->
    <div style="width: 600px; margin: 20px;">
      <h3 style="text-align: center;">KPI Target vs Actual</h3>
      <canvas baseChart [data]="barChartData" [options]="{ responsive: true, plugins: { legend: { position: 'top' } } }"
        [type]="'bar'">
      </canvas>
    </div>

    <!-- Pie Chart -->
    <div style="width: 400px; margin: 20px;">
      <h3 style="text-align: center;">KPI User</h3>
      <canvas baseChart [data]="pieChartUser" [options]="{ responsive: true, plugins: { legend: { position: 'top' } } }"
        [type]="'pie'">
      </canvas>
    </div>

  </div>
