/* ครอบ container ทั้งหมด จัดตรงกลางจอ */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* เต็มจอ */
  background: #f5f7fa; /* พื้นหลังอ่อน */
}

/* card login */
.login-card {
  width: 400px;
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* เงาสวย ๆ */
  border-radius: 12px;
}

/* title */
// .login-title {
//   text-align: center;
//   font-size: 22px;
//   font-weight: bold;
//   color: cornflowerblue;
//   margin-bottom: 20px;
//   width: 100%;
// }
mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0;
  color: cornflowerblue;
}

/* ฟิลด์ */
.login-field {
  width: 100%;
}

/* ปุ่ม login */
.mat-btb-login {
  width: 100%;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.75rem 1.25rem;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  margin-bottom: 16px;
  background-color: #3F51B5;
}

/* ปุ่ม Register */
.mat-btb-Register {
  width: 100%;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 0.75rem 1.25rem;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  background-color: #9E9E9E;
}

/* ข้อความ error */
.lbl-message {
  color: red;
  text-align: center;
  font-size: 14px;
  margin-top: -10px;
}

/* รูป */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image {
  max-width: 280px;
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
