<!-- <div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="login-title">ลงทะเบียน</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">


        <mat-form-field appearance="fill" class="login-field">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="objLogin.userName" placeholder="username">
        </mat-form-field>

        <mat-form-field appearance="fill" class="login-field">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="objLogin.password" type="password" placeholder="password">
        </mat-form-field>

        <label *ngIf="isShowMessage" class="lbl-message">{{strMessage}}</label>


        <button mat-raised-button color="warn" class="mat-btb-Register" (click)="onclickRegister()">
          Register
        </button>
                <button mat-raised-button color="primary" class="mat-btb-Cancel" (click)="onclickCancel()">
          cancel
        </button>

      </div>
    </mat-card-content>
  </mat-card>
</div> -->

<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title class="login-title">ลงทะเบียน</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center stretch">

        <!-- Username -->
        <mat-form-field appearance="fill" class="login-field">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="objRegister.userName" placeholder="Username">
        </mat-form-field>


        <!-- Password -->
        <mat-form-field appearance="fill" class="login-field">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="objRegister.password" type="password" placeholder="Password">
        </mat-form-field>

        <!-- Confirm Password -->
        <mat-form-field appearance="fill" class="login-field">
          <mat-label>Confirm Password</mat-label>
          <input matInput [(ngModel)]="objRegister.confirmPassword" type="password" placeholder="Confirm Password">
        </mat-form-field>

                <!-- Email -->
        <mat-form-field appearance="fill" class="login-field">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="objRegister.email" type="email" placeholder="Email">
        </mat-form-field>

        <!-- ปุ่ม -->
        <div class="btn-group">
          <button mat-raised-button color="primary" class="mat-btb-Register" (click)="onclickRegister()">
            Register
          </button>
          <button mat-raised-button color="warn" class="mat-btb-Cancel" (click)="onclickCancel()">
            Cancel
          </button>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>

